nav.navbar.navbar-default {
  margin-bottom: 0;
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1.0;
  z-index: 1;
}
.navbar-menu-items {
  margin: 20px;
}
.list-group-item {
  line-height: 2.5;
}
.my-scenario-container {
  margin-left: 100px;
  margin: auto;
  width: 100%;
}
.scenario-input-labels {
  font-weight: bold;
  font-size: 18px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
.table-headers {
  padding: 5px;
  background-color: #EB6864;
  color: white;
  text-align: center;
}
.table-data-numbers {
  padding: 5px;
  text-align: right;
}
.table-data-strings {
  padding: 5px;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
.login-errors {
  color: red;
  font-size: 23px;
  margin:20px;
}
.scenario-inputs-output-fields {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  outline: 1px solid gray;
}
#home {
  margin-top: 50px;
}
#fileElem {
  display: none;
}
#ExtendSim-header {
  background-image:url(https://extendsim.com/templates/extendsim/images/ES_logo.gif);
  background-repeat:no-repeat;
  float:left;
  height:98px;
  width:510px;
}
#ExtendSim-home-billboard-image {
  /* background-image: url("../images/es10-home-billboard-hover.png"); */
  /* background-repeat: no-repeat; */
  float: left; 
  height: auto;
  width: 100%;
}
#navbar-welcome {
  padding: 8px 0px;
  margin-left: 10px;
  margin-right: 10px;
}
#scenario-run-status {
  color: red;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  outline: 1px solid gray;
}
#drop-area {
  text-align: center;
  height: 100px;
  width: 100%;
  /* border: 2px solid gray; */
  background-color: rgb(230, 227, 227);
  border: 2px dashed #ccc;
  border-radius: 20px;
  /* width: 480px; */
  font-family: sans-serif;
  margin-left: 100px auto;
  margin-right: 100px auto;
  padding: 20px;
}
#scenario-result-types-table {
  /* margin:auto; */
  text-align: center;
  table-layout: auto;
  width: 40%;
  margin: 20px auto;
  table-layout: auto;
}
#scenario-result-types-table-col1 {
  /* width: 2%; */
}
#scenario-result-types-table-col2 {
  width: 1%;
}
#scenarios-summary-table {
  /* margin:auto; */
  text-align: center;
  table-layout: auto;
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}
#cycle-time-chart {
  font-size: 20px;
  margin-top: 40px;
}
.cycle-time-results-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-text {
  width: 50%;
}
.alt-x-label {
  font-size: 50px;
  font-weight: bold;
  color: red;
  z-index: 1;
}

.alt-y-label {
  font-size: 50px;
  font-weight: bold;
  color: red;
  z-index: 1;
}
